<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266315338400-o45rfd8ro59kiomfpao0kdt3i8a0vhul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266315338400-o45rfd8ro59kiomfpao0kdt3i8a0vhul</string>
	<key>API_KEY</key>
	<string>AIzaSyAM7iqxgZLbDmBQijiJXpaRYtclAzbCTCE</string>
	<key>GCM_SENDER_ID</key>
	<string>266315338400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entprojecttracker</string>
	<key>PROJECT_ID</key>
	<string>task2-hznetm</string>
	<key>STORAGE_BUCKET</key>
	<string>task2-hznetm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266315338400:ios:304bde29f21468c0542fc5</string>
</dict>
</plist>